@import url(tipsy.css);
@import url(jquery.autocomplete.css);
@import "http://fonts.googleapis.com/css?family=Oswald:400,700";
@import "http://fonts.googleapis.com/css?family=Karla:700,400,400italic,700italic";
#vocab_plot_wrapper {
  min-height: 700px;
  max-height: 1000px;
  min-width: 1100px;
  width: 100%;
  height: 100vh;
  background-color: #D6C06D; }

#vocab_plot {
  position: relative;
  max-width: 1440px;
  min-width: 1100px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto; }

#vocab_plot_scale {
  position: absolute;
  width: 100%;
  height: 100%; }

#searchBox {
  position: absolute;
  top: 25px;
  right: 2%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  #searchBox:after {
    content: "";
    display: block;
    height: 40px;
    width: 50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    background-image: url(.././img/icons/icon_search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10; }

input#locateArtist {
  position: relative;
  display: block;
  margin: 0;
  appearance: none;
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: lighter;
  background-color: white;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: black;
  z-index: 9;
  padding: 0px 0px 2px 60px; }
  input#locateArtist:focus {
    outline: none; }

.artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  background-color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: 2px solid #766a3b; }
  @media screen and (max-width: 1280px) {
    .artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
      width: 30px;
      height: 30px; } }
  .artistContainer:hover, .dimArtist:hover, .highlightedArtist:hover, .normalArtist:hover {
    border: 2px solid #ffffff;
    transition: all 0.2s; }

.dimArtist {
  opacity: 0.25;
  transition: all 0.2s; }

.highlightedArtist {
  opacity: 1;
  background-color: #FD4C38; }

.normalArtist {
  transition: all 0.3s; }

.rankContainer {
  width: 30%;
  float: left;
  text-align: right; }

.detailContainer {
  width: 70%;
  float: right;
  font-size: 16px;
  padding-left: 23px;
  text-align: left !important;
  font-family: Karla, "sans-serif"; }

.rank {
  font-size: 28px;
  font-family: "Oswald"; }

.number {
  font-size: 0.5em;
  font-family: Karla, "sans-serif"; }

.artistNameTooltip {
  font-family: "Helvetica Neue", "Source Sans Pro";
  margin-bottom: 5px; }

#artistCircleContainer {
  position: relative;
  width: 1000px;
  height: auto;
  margin: 0 auto; }

#allArtists {
  position: relative;
  width: 960px;
  height: auto;
  margin: 0 auto 30px auto;
  background-color: transparent; }

.letterSection {
  width: auto;
  height: auto;
  padding: 10px 0px 5px 20px; }

#allArtistsContainer {
  width: 100%;
  overflow: hidden;
  height: 700px;
  border-left: 1px solid #FEC1B8;
  overflow: hidden; }

.alphaHolder {
  background-color: transparent;
  font-family: Karla;
  text-align: left;
  color: #303030;
  font-size: 1.6em;
  width: 20%;
  height: 45px;
  line-height: 45px;
  margin: 0 0 5px 0;
  font-weight: bold; }

.letterArtistImage {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer; }

.letterArtistImage:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08); }

.expanded {
  height: auto !important; }

.overlay {
  position: absolute;
  left: 0;
  top: 70%;
  height: 30%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 100%); }

.button, #btn_expandList {
  width: 135px;
  height: 35px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  color: #A99755;
  line-height: 25px;
  background-color: transparent;
  border: 1px solid #A99755;
  cursor: pointer;
  border-radius: 2px; }
  .button:focus, #btn_expandList:focus {
    outline: none; }
  .button:hover, #btn_expandList:hover {
    color: white;
    background-color: #A99755;
    transition: all 0.2s; }

#btn_expandList {
  position: absolute;
  top: 60px;
  left: -145px; }

.buttonFixedScroll {
  position: fixed !important;
  left: 70px; }

#genrePlot {
  width: 920px;
  height: auto;
  margin: 35px auto 30px auto;
  padding: 0px 10px 0px 0px;
  border: 1px solid #BABABA; }
  #genrePlot:after {
    display: table;
    content: "";
    clear: both; }

#genreLegend {
  position: absolute;
  width: 601px;
  height: 30px;
  float: right;
  background-color: transparent;
  margin-top: -30px; }

#genrePlotScale {
  width: 65%;
  height: 100%;
  float: right; }

#genreNames {
  width: 35%;
  height: 100%;
  float: left;
  margin-top: 0px; }

.genreName {
  width: 100%;
  height: 55px;
  font-family: Karla, "sans-serif";
  font-size: 1.2em;
  line-height: 55px;
  border-bottom: 1px solid #BABABA;
  text-align: left; }

.genreName:last-child {
  border-bottom: none; }

.genre_rank {
  display: inline-block;
  width: 55px;
  height: auto;
  background-color: transparent;
  color: #303030;
  font-family: Karla, "sans-serif";
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  border-bottom: 0.5px solid #BABABA; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla, "sans-serif"; }

body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: auto; }

#header {
  width: 100%;
  height: 350px;
  background-color: #D6C06D; }
  #header .header_inner {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px 0 20px; }
    #header .header_inner h1 {
      font-family: Karla, "sans-serif";
      font-weight: bolder;
      font-size: 48px;
      color: #FFFFFF;
      padding-top: 200px; }
    #header .header_inner .sub {
      font-family: Karla, "sans-serif";
      font-size: 18px;
      color: #ffffff;
      line-height: 23px; }

#container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: white; }

.note {
  font-size: 0.8em;
  margin-top: 10px; }

.article {
  width: 960px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
  font-family: Karla;
  font-size: 20px;
  color: #303030;
  line-height: 25px;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 20px; }
  .article a {
    color: #FD4C38;
    text-decoration: none; }
  .article .sectionHeading {
    position: relative;
    width: auto;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #303030;
    line-height: 49px;
    width: 100%;
    text-align: center; }
    .article .sectionHeading:after {
      display: block;
      position: absolute;
      top: 50%;
      right: 110%;
      content: "";
      width: 90%;
      height: 2px;
      background-color: #303030; }
    .article .sectionHeading:before {
      display: block;
      position: absolute;
      bottom: 50%;
      left: 110%;
      content: "";
      width: 90%;
      height: 2px;
      background-color: #303030; }

#kiss:after {
  width: 60%; }
#kiss:before {
  width: 60%; }

#genreHeading:after {
  width: 50%; }
#genreHeading:before {
  width: 50%; }

.innerSection {
  margin-top: 30px; }

.genreChartExp {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-family: Karla, "sans-serif";
  font-style: italic; }

#topBottomArtists {
  display: block;
  margin: 50px auto -5px auto; }

.expImages {
  display: block;
  margin: 30px auto; }

#polyglotImages {
  position: relative;
  width: 720px;
  height: auto;
  margin: 30px auto 20px auto; }

.polyglotImage {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer; }

.polyglotImage:last-child {
  margin-top: 35px; }

#polyglotLanguages {
  position: absolute;
  top: 10px;
  width: 135px;
  height: 50px;
  margin-left: -260px; }

.polyglotLanguage {
  width: 145px;
  height: 35px;
  font-family: Karla;
  font-size: 18px;
  line-height: 33px;
  color: #A99755;
  border: 1px solid #A99755;
  text-align: center;
  margin-bottom: 5px;
  transition: all 0.3s; }

.languageHighlight {
  color: #FFFFFF;
  background-color: #A99755;
  transition: all 0.3s; }

.defHighlight {
  margin-right: 5px;
  text-decoration: italic;
  background-color: #e7daa9; }

#finalQuote {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 30px;
  color: #FD4C38; }
  #finalQuote a {
    font-size: 0.9em !important;
    display: block;
    text-align: right;
    margin: 12px 70px 0px 0px;
    font-weight: 400; }

.titles {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  color: #8b8b8b;
  font-style: italic; }

#vocabVariation {
  margin-top: 50px;
  margin-bottom: 50px; }

#topBottomArtistTitle {
  margin-top: 30px;
  margin-bottom: -20px; }

#mainVizTitle {
  padding: 0;
  margin-top: 15px; }

/*# sourceMappingURL=styles.css.map */
