@import url(tipsy.css);
@import url(jquery.autocomplete.css);
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Roboto"; }

body {
  background-color: #FBFBFB;
  width: 100%;
  height: 100%;
  overflow: auto; }

#container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto; }

#viz_wrapper {
  min-height: 700px;
  min-width: 1100px;
  width: 100%;
  height: 100vh;
  background-color: #171919; }

#plot {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto; }

#scale {
  position: absolute;
  width: 100%;
  height: 100%; }

#searchBox {
  position: absolute;
  top: 25px;
  right: 2%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }
  #searchBox:after {
    content: "";
    display: block;
    height: 40px;
    width: 50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    background-image: url(.././img/icons/icon_search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10; }

input#locateArtist {
  position: relative;
  display: block;
  margin: 0;
  appearance: none;
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: lighter;
  background-color: white;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: black;
  z-index: 9;
  padding: 0px 0px 2px 60px; }
  input#locateArtist:focus {
    outline: none; }

h1#main_title {
  position: absolute;
  top: 10px;
  font-family: "Helvetica", "Source Sans Pro", "sans-serif";
  width: 100%;
  text-align: left;
  padding: 15px 15px 15px 300px;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
  font-weight: normal; }

#article_wrapper {
  width: 100%;
  height: auto;
  background-color: #FBFBFB;
  padding: 25px;
  margin-top: 30px; }
  #article_wrapper h1 {
    text-align: center;
    padding: 10px;
    font-size: 2em; }
  #article_wrapper #article_body {
    width: 900px;
    margin: 30px auto 0 auto; }

.artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background-color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 1; }
  @media screen and (max-width: 1200px) {
    .artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
      width: 7px;
      height: 7px; } }
  .artistContainer:hover, .dimArtist:hover, .highlightedArtist:hover, .normalArtist:hover {
    background-color: #B1D300; }

.dimArtist {
  opacity: 0.25;
  transition: all 0.2s; }

.highlightedArtist {
  opacity: 1;
  background-color: #B1D300; }

.normalArtist {
  transition: all 0.3s; }

.tooltipData {
  background-color: #0087FF;
  border-radius: 2px;
  width: auto;
  height: auto;
  margin: 50px auto 0px auto;
  padding: 10px; }
  .tooltipData:after {
    display: table;
    content: "";
    clear: both; }

.rankContainer {
  width: 30%;
  float: left; }

.detailContainer {
  width: 70%;
  float: right;
  padding-left: 23px; }

.rank {
  font-size: 2em; }

.number {
  font-size: 0.5em; }

.artistNameTooltip {
  font-weight: bolder;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
