@import url(tipsy.css);
@import url(jquery.autocomplete.css);
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";
@import "http://fonts.googleapis.com/css?family=Lato:400,600";
@import "http://fonts.googleapis.com/css?family=Oswald:400,700)";
#vocab_plot_wrapper {
  min-height: 700px;
  max-height: 1000px;
  min-width: 1100px;
  width: 100%;
  height: 100vh;
  background-color: #FEC1B8; }

#vocab_plot {
  position: relative;
  max-width: 1440px;
  min-width: 1100px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto; }

#vocab_plot_scale {
  position: absolute;
  width: 100%;
  height: 100%; }

#searchBox {
  position: absolute;
  top: 25px;
  right: 2%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  #searchBox:after {
    content: "";
    display: block;
    height: 40px;
    width: 50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    background-image: url(.././img/icons/icon_search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10; }

input#locateArtist {
  position: relative;
  display: block;
  margin: 0;
  appearance: none;
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: lighter;
  background-color: white;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: black;
  z-index: 9;
  padding: 0px 0px 2px 60px; }
  input#locateArtist:focus {
    outline: none; }

.artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background-color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 1; }
  @media screen and (max-width: 1280px) {
    .artistContainer, .dimArtist, .highlightedArtist, .normalArtist {
      width: 7px;
      height: 7px; } }
  .artistContainer:hover, .dimArtist:hover, .highlightedArtist:hover, .normalArtist:hover {
    background-color: #FD4C38; }

.dimArtist {
  opacity: 0.25;
  transition: all 0.2s; }

.highlightedArtist {
  opacity: 1;
  background-color: #FD4C38; }

.normalArtist {
  transition: all 0.3s; }

.rankContainer {
  width: 30%;
  float: left; }

.detailContainer {
  width: 70%;
  float: right;
  font-size: 16px;
  padding-left: 23px;
  font-family: "Helvetica Neue", "Source Sans Pro"; }

.rank {
  font-size: 27px;
  font-family: "Oswald"; }

.number {
  font-size: 0.5em; }

.artistNameTooltip {
  text-align: center;
  font-family: "Helvetica Neue", "Source Sans Pro";
  margin-bottom: 5px; }

#allArtists {
  position: relative;
  width: 960px;
  height: auto;
  margin: 0 auto 30px auto;
  background-color: transparent; }

.letterSection {
  width: auto;
  height: auto;
  padding: 10px 0px 5px 20px; }

#allArtistsContainer {
  width: 100%;
  overflow: hidden;
  height: 510px;
  border-left: 1px solid #FEC1B8;
  overflow: hidden; }

.alphaHolder {
  background-color: transparent;
  font-family: Oswald-Medium, "Oswald";
  text-align: center;
  color: #303030;
  font-size: 1.6em;
  width: 65px;
  height: 45px;
  line-height: 45px;
  margin: 0 0 5px 0;
  font-weight: bold;
  border-bottom: 3px solid #FD4C38; }

.letterArtistImage {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #D8D8D8;
  cursor: pointer;
  border-radius: 2px; }

.expanded {
  height: auto !important; }

.overlay {
  position: absolute;
  left: 0;
  top: 70%;
  height: 30%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 100%); }

.button, #btn_expandList {
  width: 135px;
  height: 35px;
  font-family: Oswald-Regular, "Oswald";
  font-size: 18px;
  color: #fe7b79;
  line-height: 25px;
  background-color: transparent;
  border: 1px solid #fe7b79;
  cursor: pointer;
  border-radius: 2px; }
  .button:focus, #btn_expandList:focus {
    outline: none; }
  .button:hover, #btn_expandList:hover {
    color: white;
    background-color: #FD4C38;
    transition: all 0.2s; }

#btn_expandList {
  position: absolute;
  top: 60px;
  left: -150px; }

.buttonFixedScroll {
  position: fixed !important;
  left: 70px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Lato"; }

body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: auto; }

#header {
  width: 100%;
  height: 350px;
  background-color: #FFE5E5; }
  #header .header_inner {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px 0 20px; }
    #header .header_inner h1 {
      font-family: Oswald-DemiBold, "Oswald";
      font-size: 48px;
      color: #000000;
      padding-top: 200px; }
    #header .header_inner .sub {
      font-family: HelveticaNeue-Bold, "sans-serif", "Lato";
      font-size: 18px;
      color: #000000;
      line-height: 23px; }

#container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: white; }

.article {
  width: 960px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
  font-family: "Helvetica Neue", "Lato";
  line-height: 1.6em;
  font-size: 1.1em; }
  .article a {
    color: #FD4C38;
    text-decoration: none; }
  .article h1 {
    font-family: Oswald-DemiBold, "Oswald";
    font-weight: bolder;
    font-size: 36px;
    color: #000000;
    line-height: 49px;
    width: 100%;
    text-align: center; }

#topBottomArtists {
  margin: 30px 0px -40px -120px;
  background-repeat: no-repeat; }

.expImages {
  display: block;
  margin: 30px auto; }

/*# sourceMappingURL=styles.css.map */
