$color_main : #FD4C38
$color_button_border : #FEA3A1

#allArtists 
	position : relative
	width : 960px
	height : auto
	margin : 0 auto 30px auto
	background-color: transparent

.letterSection
	width : auto
	height : auto
	padding : 10px 0px 5px 20px

#allArtistsContainer
	width : 100%
	overflow : hidden
	height : 700px
	border-left : 1px solid #FEC1B8
	overflow : hidden

.alphaHolder
	background-color : transparent
	font-family: Oswald-Medium, 'Oswald'
	text-align : center
	color: #303030
	font-size: 1.6em
	width: 65px
	height: 45px
	line-height : 45px
	margin: 0 0 5px 0
	font-weight : bold
	border-bottom : 3px solid $color_main

.letterArtistImage 
	display : inline-block
	width : 80px 
	height : 80px
	cursor : pointer

.expanded
	height : auto !important

.overlay 
	position : absolute
	left : 0 
	top : 70%
	height : 30%
	width : 100%
	z-index : 10
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%)

.button
	width : 135px
	height : 35px
	font-family: Oswald-Regular, 'Oswald'
	font-size: 18px
	color: darken($color_button_border, 8%)
	line-height: 25px
	background-color : transparent
	border: 1px solid darken($color_button_border, 8%)
	cursor : pointer
	border-radius : 2px
	&:focus 
		outline : none
	&:hover
		color : white
		background-color : $color_main
		transition : all 0.2s

#btn_expandList
	@extend .button
	position : absolute
	top : 60px
	left : -150px

.buttonFixedScroll
	position : fixed !important
	left : 70px