// New Color palette
$color_dark_grey : #303030
$color_light_green : #D6C06D
$color_dark_green : #A99755


#allArtists 
	position : relative
	width : 960px
	height : auto
	margin : 0 auto 30px auto
	background-color: transparent

.letterSection
	width : auto
	height : auto
	padding : 10px 0px 5px 20px

#allArtistsContainer
	width : 100%
	overflow : hidden
	height : 700px
	border-left : 1px solid #FEC1B8
	overflow : hidden

.alphaHolder
	background-color : transparent
	font-family: Karla
	text-align : left
	color: #303030
	font-size: 1.6em
	width: 20%
	height: 45px
	line-height : 45px
	margin: 0 0 5px 0
	font-weight : bold
	// border-bottom : 3px solid $color_dark_green

.letterArtistImage 
	display : inline-block
	width : 80px 
	height : 80px
	cursor : pointer

.letterArtistImage:hover img 
	-webkit-transform: scale(1.08)
	transform: scale(1.08)



.expanded
	height : auto !important

.overlay 
	position : absolute
	left : 0 
	top : 70%
	height : 30%
	width : 100%
	z-index : 10
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%)

.button
	width : 135px
	height : 35px
	font-family: Karla, sans-serif
	font-size: 18px
	color: $color_dark_green
	line-height: 25px
	background-color : transparent
	border: 1px solid $color_dark_green
	cursor : pointer
	border-radius : 2px
	&:focus 
		outline : none
	&:hover
		color : white
		background-color : $color_dark_green
		transition : all 0.2s

#btn_expandList
	@extend .button
	position : absolute
	top : 60px
	left : -150px

.buttonFixedScroll
	position : fixed !important
	left : 70px