#genrePlot 
	width : 920px
	height : auto
	margin : 0 auto	
	&:after
		display : table
		content : ''
		clear : both

#genrePlotScale 
	width : 65%
	height : 100%
	background-color : honeydew
	float : right

#genreNames 
	width : 35%
	height: 100%
	float : left

.genreName
	width : 100%
	height : 45px
	padding : 10px
	font-family : 'Helvetica Neue'
	font-size : 1.2em
	border-bottom : 1px solid black

.genreName:first-child 
	margin-top : 150px
