// Include a style reset plugin here
@import "tipsy.css"
@import "jquery.autocomplete.css"
@import "vocab_plot_styles.sass"
@import "all_artist_section_style.sass"

// Import the fonts
// @import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600"
// @import "http://fonts.googleapis.com/css?family=Lato:400,600"
// @import "http://fonts.googleapis.com/css?family=Oswald:400,700"


// Color Varaibles
$color_bg_article : #FBFBFB
$color_bg_viz : #303030
$color_main : #FD4C38
$color_header : #FFE5E5
$color_button_border : #FEA3A1

// Width and height variables
$article_width : 960px

* 
	margin : 0
	padding : 0
	box-sizing : border-box
	font-family : 'Helvetica', 'Lato'

body 
	background-color : transparent
	width : 100%
	height : 100%
	overflow : auto

#header
	width : 100%
	height : 350px
	background-color : $color_header
	.header_inner
		width : $article_width
		margin : 0 auto
		height : 100%
		padding : 0 20px 0 20px
		h1
			font-family: Oswald-DemiBold, 'Oswald'
			font-size: 48px
			color: #000000
			padding-top: 200px
		.sub
			font-family: HelveticaNeue-Bold, 'sans-serif', 'Lato'
			font-size: 18px
			color: #000000
			line-height: 23px


#container 
	position : relative
	width : 100%
	height : auto
	margin : 0 auto
	background-color : white


.article 
	width : $article_width
	margin : 0 auto
	padding: 30px 20px 30px 20px
	font-family : 'Helvetica Neue','Lato'
	line-height : 1.6em
	font-size : 1.1em
	& a
		color : $color_main
		text-decoration : none
	h1
		font-family: Oswald-DemiBold,'Oswald'
		font-weight: bolder
		font-size: 36px
		color: #000000
		line-height: 49px
		width : 100%
		text-align : center

#topBottomArtists
	margin : 30px 0px -40px -120px
	background-repeat : no-repeat

.expImages
	display : block
	margin : 30px auto

#polyglotImages
	position : relative
	width : 720px
	height : auto
	margin : 30px auto 20px auto

.polyglotImage
	display : inline-block
	margin : 0 auto
	margin-top : 10px
	margin-left : 15px
	cursor : pointer

.polyglotImage:last-child
	margin-top : 35px

#polyglotLanguages
	position : absolute
	top : 10px
	width : 135px
	height : 50px
	margin-left : -260px

.polyglotLanguage 
	width : 145px 
	height: 35px
	font-family : Oswald-Regular, 'Oswald'
	font-size : 18px
	line-height : 33px
	color : darken($color_button_border, 8%)
	border: 1px solid darken($color_button_border, 8%)
	text-align : center
	margin-bottom : 5px
	transition : all 0.3s 

.languageHighlight
	color : white
	background-color : $color_main
	transition : all 0.3s 







