// Include a style reset plugin here
@import "tipsy.css"
@import "jquery.autocomplete.css"
@import "vocab_plot_styles.sass"
@import "all_artist_section_style.sass"
@import "genrePlotStyles.sass"



// Color Varaibles
$color_bg_article : #FBFBFB
$color_bg_viz : #303030
$color_main : #FD4C38
$color_header : #FFE5E5
$color_button_border : #FEA3A1

// Width and height variables
$article_width : 960px


// New Color palette
$color_dark_grey : #303030
$color_light_green : #D6C06D
$color_dark_green : #A99755

*
	margin : 0
	padding : 0
	box-sizing : border-box
	font-family : Karla, 'sans-serif'

body
	background-color : transparent
	width : 100%
	height : 100%
	overflow : auto


#header
	position : relative
	width : 100%
	height : 300px
	// background-color : $color_light_green
	background-image : url(./img/header_bg.png)
	background-size : cover
	.header_inner
		width : $article_width
		margin : 0 auto
		height : 100%
		padding : 0 20px 0 20px
		h1
			position : relative
			font-family: Karla, 'sans-serif'
			font-weight : bolder
			font-size: 48px
			color: #FFFFFF
			z-index : 10
			// text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4)
		.sub
			position : relative
			font-family: Karla, 'sans-serif'
			font-size: 18px
			color: #ffffff
			line-height: 23px
			z-index : 10
		#main_logo
			position : relative
			margin-top : 140px
			z-index : 10

#headerBgOverlay
	position : absolute
	top: 0
	left : 0
	height : 100%
	width : 100%
	z-index : 9
	// background : rgba(255,102,0, 0)
	background : rgba(0, 0, 0, 0.4)
	background-image: linear-gradient(-180deg, rgba(214,192,109,0.00) 40%, rgba(214,192,109,0.41) 100%)



#container
	position : relative
	width : 100%
	height : auto
	margin : 0 auto
	background-color : white


.note
	font-size : 0.8em
	margin-top : 10px

.article
	width : $article_width
	margin : 0 auto
	padding: 30px 20px 30px 20px
	font-family : Karla
	font-size: 20px
	color: $color_dark_grey
	line-height: 25px
	font-size : 1.2em
	text-align : justify
	margin-bottom : 20px
	& a
		color : $color_main
		text-decoration : none
	.sectionHeading
		position : relative
		width : auto
		font-family: 'Karla', sans-serif
		font-weight: bold
		font-size: 36px
		color: $color_dark_grey
		line-height: 49px
		width : 100%
		text-align : center
		&:after
			display : block
			position : absolute
			top : 50%
			right : 110%
			content : ''
			width : 90%
			height : 2px
			background-color : $color_dark_grey
		&:before
			display : block
			position : absolute
			bottom : 50%
			left : 110%
			content : ''
			width : 90%
			height : 2px
			background-color : $color_dark_grey

// These are style overrides for the section headings whose sidelines are too long

#kiss
	&:after
		width : 60%
	&:before
		width : 60%

#genreHeading
	&:after
		width : 50%
	&:before
		width : 50%
// end of that thing

.innerSection
	margin-top : 30px

.genreChartExp
	display : block
	text-align : center
	margin-top : 25px
	font-family : Karla, 'sans-serif'
	font-style : italic

#topBottomArtists
	display : block
	margin : 50px auto -5px auto

.expImages
	display : block
	margin : 30px auto

#polyglotImages
	position : relative
	width : 720px
	height : auto
	margin : 30px auto 20px auto

.polyglotImage
	display : inline-block
	margin : 0 auto
	margin-top : 10px
	margin-left : 15px

.polyglotImage:last-child
	margin-top : 35px

#polyglotLanguages
	position : absolute
	top : 10px
	width : 135px
	height : 50px
	margin-left : -260px

.polyglotLanguage
	width : 145px
	height: 35px
	font-family : Karla
	font-size : 18px
	line-height : 33px
	color : $color_dark_green
	border: 1px solid $color_dark_green
	text-align : center
	margin-bottom : 5px
	transition : all 0.3s

.languageHighlight
	color : #FFFFFF
	background-color : $color_dark_green
	transition : all 0.3s

.defHighlight
	margin-right : 5px
	text-decoration : italic
	background-color : #C1B153
	color: #FFFFFF

#finalQuote
	width : 100%
	text-align : center
	padding : 20px
	font-style : italic
	font-weight : 700
	font-size : 1.4em
	margin-top : 30px
	color : $color_main
	a
		font-size : 0.9em !important
		display : block
		text-align : right
		margin : 12px 70px 0px 0px
		font-weight : 400


.titles
	width : 100%
	text-align : center
	padding-top : 15px
	color : darken(#d8d8d8, 30%)
	font-style : italic

#vocabVariation
	margin-top : 50px
	margin-bottom : 50px

#topBottomArtistTitle
	margin-top : 30px
	margin-bottom : -20px

#mainVizTitle
	padding : 0
	margin-top : 15px

#disqusBox
	width : $article_width
	margin: 0 auto
	padding : 20px

#share_fb
	display : inline-flex !important
	position : relative

#tempTitle
	position : absolute
	top : 20px
	left : 20px
	color : #303030
	font-weight : bold
	font-size : 2em